@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");

:root {
  --background-color: white;
  --main-color: rgb(234, 155, 75);
  --sub-color: rgb(255, 234, 210);
}

body {
  background-color: var(--main-color);
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: var(--background-color);
  margin: 1%;
  padding: 20px;
  width: 10%;
  height: 90%;
  border-radius: 30px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.coin {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 20%;
  border: 5px solid var(--main-color);
  border-radius: 40px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 900;
}

.coin:hover {
  background-color: var(--main-color);
  color: var(--background-color);
}

.right {
  display: flex;
  background-color: var(--background-color);
  margin: 1%;
  padding: 20px;
  width: 90%;
  height: 90%;
  border-radius: 30px;
}

#left-main {
  width: 50%;
}

#right-main {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sub-color);
  border-radius: 30px;
  margin-left: 3%;
  padding: 3%;
  color: black;
}

#slot-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 5%;
  background-color: var(--sub-color);
  height: 65%;
  border-radius: 30px;
  color: var(--main-color);
}

#date {
  width: 100%;
  margin: 0 5%;
  font-size: 50px;
}

#estimation {
  width: 100%;
  margin: 0 5%;
  font-size: 80px;
}

#context {
  width: 100%;
  margin: 0 5%;
  font-size: 30px;
}

.slot {
  background-color: var(--sub-color);
  width: 90%;
  height: 10%;
  border-radius: 30px;
  margin-top: 2%;

  display: flex;
  align-items: center;
  padding: 0 5%;
  font-size: 30px;
  color: var(--main-color);
  font-weight: 600;
}

#graph {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  border-radius: 30px;
  padding: 0 2%;

  color: var(--main-color);
  font-size: 30px;
}

#myChart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  body {
    height: 1000px;
  }
  .right {
    flex-direction: column;
    margin: 0;
    padding: 20px 0;
  }

  #left-main {
    width: 100%;
    height: 100%;
  }

  .slot {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #right-main {
    width: 100%;
    height: 100%;
    margin: 5% 0;
    padding: 0;
  }

  #graph {
    padding: 5% 0;
    height: 70%;
  }
}
