@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

*{
    box-sizing:content-box;
}

:root{
    --background-color: rgb(237,28,36);
    --color-to-see: white;
}

body{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family:'Signika Negative', sans-serif;

}

.left,
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding-top: 100px;

}

.middle{
    display: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.top{
    display:flex;
    justify-content: center;
    background-color: var(--background-color);
    padding-top: 40px;
    padding-bottom: 15px;
    height: 100%;
    
}

.img{
    height: 70%;
    width: 70%;
}

.bottom{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color-to-see);
    padding-top: 30px;
}


.left i,
.right i{
    color: var(--color-to-see);
    font-size: 4vw;
    padding: 40px;

}

.left i{
    display: none;
}

.left i:hover{
    color: yellow;
}
.right i:hover{
    color: yellow;
}

.title{
    font-size: 25px;
}